.box {
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: red;
    height: 100vh;
}

.sbox1 {
    background-color: grey;
}

.sbox2 {    
    background-color: darkgray;
}

.timerBox {
    width: 40%;
    font-size: 50px;
    margin: 30px auto;
    text-align: center;
    background-color: blue;
}

.tbox {
    text-align: center;
    margin: 120px auto;
}

.question {
    font-size: 160px;
}

.score {
    font-size: 30px;
    margin: 15px 10px;
    background-color: white;
    padding: 5px 20px;
}

.chat {
    background-color: white;
    padding: 20px;
    margin: 10px;
    height: 300px;
    overflow: auto;
}

.textCont {
    /* margin-top: 470px; */
    margin: 10px;
    /* width: 100%; */
}

.textInput {
    width: 100%;
}

.buttonContainer {
    margin: 30px 10px;
}

.button {
    margin: 5px 0px;
    width: 100%;
}